.timeRow {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.time {
    font-size: 35px;
}

.utcOffset {
    margin-left: 5px;
    font-size: 20px;
}

.dateRow {
    display: flex;
    justify-content: center;
    font-size: 25px;
}